/* * ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ Footer ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#footer {
    background-color: rgb(75, 75, 75);
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;

    .copyright {
        text-align: center;
        float: left;
    }
    .credits {
        float: right;
        text-align: center;
        font-size: 13px;
    }
}