/* * ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ Footer ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */

#footer {
    background-color: rgb(75, 75, 75);
    display: flex;
    position: absolute;
    // bottom: 0;
    margin-top: auto;
    width: 100%;
  
    align-items: center;
    justify-content: center;
    color: aliceblue;

    .copyright {
        text-align: center;
        float: left;
    }
    .credits {
        float: right;
        text-align: center;
        font-size: 13px;
    }
}