/* * ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ Header ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
header {
    .row {
        .columna {
background-color: rgba(255, 241, 221, 0.945);

            .container {
                a {
                    margin-left: 10px;
                }

                button {
                    margin-right: 10px;
                }
            }
        }

    }
}