/* * ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ Header ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
header {
    .row {
        .navbar {
            background-color: rgb(255, 233, 192);

            .container {
                a {
                    margin-left: 10px;
                }

                button {
                    margin-right: 10px;
                }
            }
        }

    }
}